/* ALL */
/* body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: #fffafb !important;
} */

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900 !important;
  color: #3d3d3d !important;
  text-transform: uppercase;
} */

/* p {
  font-weight: 100 !important;
} */

/* NAVBAR */
/* .navbar-toggler {
  border: none !important;
}

.navbar {
  background: transparent !important;
} */

.navbar-scroll {
  background: #fff !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* #navbar {
  width: 100%;
  height: 75px;
  transition: 0.8s all;
}

#navbar a {
  color: #3d3d3d !important;
  text-decoration: none;
  text-transform: uppercase;
}

#navbar .navbar-brand {
  font-weight: 900 !important;
}

#navbar .nav-link {
  font-weight: 100 !important;
} */

/* HOME */
/* .odd-row {
  background: #f3eff5;
} */

/* .services-container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  margin-left: 25px !important;
  margin-right: 25px !important;
} */
/* 
.service-col {
  padding: 2rem;
  transition: 0.8s all;
} */

/* .service-col:hover {
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

/* .service-icons {
  font-size: 40px;
} */

/* .service-button {
  font-size: 12px !important;
  background: linear-gradient(-45deg, #ffafbd, #ffc3a0);
  border-radius: 15px !important;
  border: none !important;
  color: #3d3d3d !important;
  padding: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
} */

/* #home-jumbotron {
  height: 100vh;
  width: 100%;
  border-radius: 0;
  background: linear-gradient(-45deg, #ffafbd, #ffc3a0);
} */

/* #home-jumbotron-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

/* Media Quieries */
/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
  .services-container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
