.navbar-scroll {
  background: #fff !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.dropdown-item:active {
  background-color: transparent;
  background: linear-gradient(-45deg, #b3ffab, #12fff7);
}
